.banner {
  height: 20vh;
}

.quarto-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#quartos-img {
  width: 80vw;
  max-width: 1500px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

#quartos-img img {
  width: 30%;
  height: 100%;
  flex-grow: 1;
}

.informacoes-quarto {
  margin: 0 auto;
  font-size: 20px;
  color: #3d3d3d;
}

.informacoes-quarto h3 {
  text-align: center;
}

.info-list ul {
  padding: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1024px;
}

.info-list ul li {
  width: 250px;
}
