* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

#topo {
  width: 100%;
  padding: 20px;
  position: fixed;
  background-color: white;
}

.conteudo_topo {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#topo a {
  font-size: 25px;
  color: #3d3d3d;
}

.destaque {
  color: #6592c9;
}

.links {
  display: flex;
  gap: 20px;
}

.banner {
  background-image: url("../assets/img-fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo_banner {
  background-color: #0a9077b3;
  color: #fff;
  font-size: 35px;
  padding: 30px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #fff;
  border-radius: 5px;
}

#quartos {
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #3d3d3d;
  margin: 50px 0;
}

.descricao {
  text-align: center;
  margin-bottom: 50px;
}

.descricao h2 {
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 20px;
}

.descricao p {
  font-size: 25px;
}

.opcoes_quartos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.quarto {
  text-align: center;
  font-size: 20px;
  color: #3d3d3d;
  height: 350px;
  border-bottom: 3px solid #0a9077;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.imagem_quarto {
  height: 250px;
  width: auto;
}

.imagem_quarto img {
  height: 100%;
  width: 100%;
}

#rota {
  margin-bottom: 50px;
}

.mapa iframe {
  width: 100%;
  height: 40vh;
}

#sobre {
  margin-bottom: 50px;
}

.sobre_itens {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
  flex: 1 0 350px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;
}

.descricao-item {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.imagem-item {
  height: 100%;
  width: 50%;
}

.imagem-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#rodape {
  background-color: #49997d;
  color: white;
  padding: 40px 10px;
}

#rodape a {
  color: white;
}

.contatos, 
.endereco,
.telefone,
.reserva {
  display: flex;
  font-size: 20px;
}

.contatos {
  justify-content: space-around;
  align-items: center;
  max-width: 80%;
  gap: 40px;
  margin: 0 auto;
  border-bottom: 3px solid #3b7863;
  padding-bottom: 40px;
}

.endereco,
.telefone,
.reserva {
  align-items: center;
  gap: 20px;
}

.endereco {
  flex-basis: 380px;
}

.telefone,
.reserva {
  flex-basis: 220px;
}

.icone img {
  height: 40px;
  width: 40px;
}

.container-copright {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding-top: 40px;
}
